<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.cjh_cashflow.dao.EstateCompanyDao">

    <select id="findByRatId" parameterType="java.lang.Long" resultType="com.house.cjh_cashflow.dto.EstateCompanyDto">
        select id
        ,rat_table_id
        ,name
        ,room_code
        ,down_payment
        ,total_cost
        ,loan
        ,month_cash_flow
        ,type
        ,created_date
        from estate_company  where rat_table_id = #{ratId} and type = '1'
    </select>

    <insert id="addOneItemByRatId" parameterType="com.house.cjh_cashflow.controller.form.PropertyForm" useGeneratedKeys="true" keyProperty="estateCompanyId">
        insert into estate_company(rat_table_id,name,room_code,down_payment,total_cost
        ,loan,month_cash_flow,type,created_date) values (#{ratId}, #{estateName}
        ,#{roomCode},#{downPayment},#{estateTotalValue},#{estateLoan}
        ,#{estateMonthCashFlow},"1",now());
    </insert>

    <delete id="sellEstateById" parameterType="java.lang.String">
        delete from estate_company where id = #{id}
        <if test="ratId != null and ratId != ''">
            and rat_table_id = #{ratId}
        </if>
        <if test="roomCode != null and roomCode != ''">
            and room_code = #{roomCode}
        </if>
    </delete>

    <select id="findListByRichId" resultType="com.house.cjh_cashflow.dto.EstateCompanyDto">
        select id
        ,rich_table_id
        ,name
        ,room_code
        ,down_payment
        ,total_cost
        ,loan
        ,month_cash_flow
        ,type
        ,created_date
        from estate_company  where rich_table_id = #{richId} and type = '2'
        <if test="roomCode != null and roomCode != ''">
            and room_code = #{roomCode}
        </if>
    </select>

    <delete id="sellRichEstate">
        delete from estate_company where rich_table_id = #{richId} and type = "2"
        <if test="roomCode != null and roomCode != ''">
            and room_code = #{roomCode}
        </if>
    </delete>

    <insert id="addOneRichItem" parameterType="com.house.cjh_cashflow.controller.form.PropertyForm">
        insert into estate_company(rich_table_id,room_code,name,month_cash_flow,type,created_date)
        values (#{richId},#{roomCode},#{estateName},#{estateMonthCashFlow},'2',now());
    </insert>
</mapper>