<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.cjh_cashflow.dao.PlayerDao">

    <insert id="insertPlayer" parameterType="com.house.cjh_cashflow.controller.form.PlayerForm" useGeneratedKeys="true" keyProperty="id">

        insert into player(id, name,career,room_code,created_date) values(null,#{name}, #{career}, #{roomCode},now())
    </insert>


    <select id="selectId" resultType="java.lang.Long">
        SELECT id from player where name = #{name} and room_code = #{roomCode}
    </select>

    <select id="checkNameExist" resultType="java.lang.Long">
        select 1 from player where name = #{playerName} and room_code = #{roomCode}
    </select>
</mapper>