<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.cjh_cashflow.dao.RatTableDao">

    <sql id="select">
          id,room_code,career,player_id,passive_income
          ,total_income,total_pay,month_cash_flow,salary,pay_per_child
          ,child_count,tax_pay,house_pay,education_pay,car_pay,credit_card_pay
          ,extra_pay,other_pay,children_pay,bank_pay,house_loan
          ,education_loan,car_loan,credit_card,extra_debt,bank_loan
          ,bank_store,created_date,updated_date
    </sql>

    <select id="getInitRatCareer" resultType="com.house.cjh_cashflow.dto.RatTableDto">
        select
        <include refid="select" />
        from rat_table where is_init = '1' and career = #{career}
    </select>

    <insert id="insertRat" >
        insert into rat_table(
          <include refid="select"/>
        )
        values (
          null
          ,#{roomCode},#{career},#{playerId},#{passiveIncome},#{totalIncome},#{totalPay}
          ,#{monthCashFlow},#{salary},#{payPerChild},#{childCount},#{taxPay}
          ,#{housePay},#{educationPay},#{carPay}
          ,#{creditCardPay},#{extraPay},#{otherPay},#{childrenPay},#{bankPay}
          ,#{houseLoan},#{educationLoan},#{carLoan},#{creditCard},#{extraDebt}
          ,#{bankLoan},#{bankStore},now(),now()
        )
    </insert>

    <select id="selectId" resultType="java.lang.Long">
        select id from rat_table where player_id = #{playerId} and room_code = ,#{roomCode}
    </select>
</mapper>