<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.cjh_cashflow.dao.RatTableDao">

    <sql id="select">
          id,room_code,career, career_name, player_id,player_name,passive_income
          ,total_income,total_pay,month_cash_flow,salary,pay_per_child
          ,child_count,tax_pay,house_pay,education_pay,car_pay,credit_card_pay
          ,extra_pay,other_pay,children_pay,bank_pay,house_loan
          ,education_loan,car_loan,credit_card,extra_debt,bank_loan
          ,bank_store,created_date,updated_date
    </sql>

    <select id="getInitRatCareer" resultType="com.house.cjh_cashflow.controller.form.RatTableForm">
        select
        <include refid="select" />
        from rat_table where is_init = '1' and career = #{career}
    </select>

    <insert id="insertRat" parameterType="com.house.cjh_cashflow.controller.form.RatTableForm" useGeneratedKeys="true" keyProperty="id">
        insert into rat_table(
          <include refid="select"/>
        )
        values (
          null
          ,#{roomCode},#{career}, #{careerName},#{playerId},#{playerName}
          ,#{passiveIncome},#{totalIncome},#{totalPay}
          ,#{monthCashFlow},#{salary},#{payPerChild},#{childCount},#{taxPay}
          ,#{housePay},#{educationPay},#{carPay}
          ,#{creditCardPay},#{extraPay},#{otherPay},#{childrenPay},#{bankPay}
          ,#{houseLoan},#{educationLoan},#{carLoan},#{creditCard},#{extraDebt}
          ,#{bankLoan},#{bankStore},now(),now()
        )
    </insert>

    <select id="selectId" resultType="java.lang.Long">
        select id from rat_table where player_id = #{playerId} and room_code = #{roomCode}
    </select>

    <select id="selectRatBySome" resultType="com.house.cjh_cashflow.dto.RatTableDto">
        select
        <include refid="select"/>
        from rat_table where room_code = #{roomCode}
        <if test="playerId != null and playerId != ''">
            and player_id = #{playerId}
        </if>
        <if test="playerName != null and playerName != ''">
            and player_name = #{playerName}
        </if>
        <if test="ratId != null and ratId != ''">
            and id = #{ratId}
        </if>

    </select>

    <!--<select id="selectEstateCompanyList" resultType="com.house.cjh_cashflow.dto.EstateCompanyDto">-->
        <!--select-->
        <!--id, rat_table_id, name, down_payment, total_cost-->
        <!--,loan ,month_cash_flow-->
        <!--from estate_company-->
        <!--where rat_table_id = #{ratId} and room_code = #{roomCode}-->
    <!--</select>-->

    <update id="updateRatSummary" parameterType="com.house.cjh_cashflow.controller.form.RatTableForm">
        update rat_table set passive_income = #{passiveIncome}, total_income = #{totalIncome}
        , month_cash_flow = #{monthCashFlow} where room_code = #{roomCode}
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="playerId != null and playerId != ''">
            and player_id = #{playerId}
        </if>
    </update>

    <update id="updateBanKByRatId" parameterType="com.house.cjh_cashflow.controller.form.RatTableForm">
        update rat_table set month_cash_flow = #{monthCashFlow}
        ,total_pay = #{totalPay} ,bank_pay = #{bankPay} ,bank_loan = #{bankLoan}
        where room_code = #{roomCode}
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="playerId != null and playerId != ''">
            and player_id = #{playerId}
        </if>
    </update>

    <update id="updateChildInfoByRatId" parameterType="com.house.cjh_cashflow.controller.form.RatTableForm">
        update rat_table set month_cash_flow = #{monthCashFlow}
        ,total_pay = #{totalPay} ,child_count = #{childCount} ,children_pay = #{childrenPay}
        where room_code = #{roomCode}
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="playerId != null and playerId != ''">
            and player_id = #{playerId}
        </if>
    </update>

    <update id="updateFixLoans" parameterType="com.house.cjh_cashflow.controller.form.RatTableForm">
        update rat_table set month_cash_flow = #{monthCashFlow},total_pay = #{totalPay}
        <if test="houseLoan != null and houseLoan != ''">
            ,house_loan = #{houseLoan}
        </if>
        <if test="housePay != null and housePay != ''">
            ,house_pay = #{housePay}
        </if>
        <if test="educationLoan != null and educationLoan != ''">
            ,education_loan = #{educationLoan}
        </if>
        <if test="educationPay != null and educationPay != ''">
            ,education_pay = #{educationPay}
        </if>
        <if test="carLoan != null and carLoan != ''">
            ,car_loan = #{carLoan}
        </if>
        <if test="carPay != null and carPay != ''">
            ,car_pay = #{carPay}
        </if>
        <if test="creditCard != null and creditCard != ''">
            ,credit_card = #{creditCard}
        </if>
        <if test="creditCardPay != null and creditCardPay != ''">
            ,credit_card_pay = #{creditCardPay}
        </if>
        <if test="extraDebt != null and extraDebt != ''">
            ,extra_debt = #{extraDebt}
        </if>
        <if test="extraPay != null and extraPay != ''">
            ,extra_pay = #{extraPay}
        </if>

        where room_code = #{roomCode}
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="playerId != null and playerId != ''">
            and player_id = #{playerId}
        </if>
    </update>
</mapper>