<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.cjh_cashflow.dao.RoomDao">


    <select id="queryRooms" resultType="com.house.cjh_cashflow.dto.RoomDto">

        select id, name, code, creator, created_date from room
        where 1=1
        <if test="code != null and code != ''">
            and code = #{code}
        </if>
    </select>

    <select id="insertRoom">
        insert into room(name, code, creator, created_date) values(#{name}, #{code}, #{creator}, now());
    </select>

    <select id="checkRoomCodeExist" resultType="java.lang.Long" >
        select 1 from room where code = #{roomCode}
    </select>
</mapper>