<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.cjh_cashflow.dao.StockDao">

    <insert id="addOneItemByRatId" parameterType="com.house.cjh_cashflow.controller.form.PropertyForm">
        insert into stock(rat_table_id, name, total_count, per_cost, interest, created_date) values
        (#{ratId}, #{stockName}, #{stockNum}, #{stockValue}, #{interest}, now())
    </insert>

    <select id="findByRatId" parameterType="java.lang.Long" resultType="com.house.cjh_cashflow.dto.StockDto">
        select id
        ,rat_table_id
        ,name
        ,total_count
        ,per_cost
        ,interest
        ,created_date
        from stock where rat_table_id = #{ratId}
    </select>
</mapper>