<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>加入房间错误</title>

    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(function () {
            var msg = $("#msg").text();
            var code = $("#code").text();

            alert(code + "-" + msg);

            window.location.href="/head/joinRoom.html";
        });
    </script>
</head>
<body>

    <div th:text="${code}" id="code" hidden="hidden"></div>
    <div th:text="${msg}" id="msg" hidden="hidden"></div>
</body>
</html>