<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>老鼠表</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

    <div style="float: left; font-weight:bold">职业: </div> <div th:text="${ratObj.careerName}" style="float: left; margin-left:10px"></div>
    <div style="float: left; font-weight:bold;margin-left:250px">玩家: </div>  <div th:text="${ratObj.playerName}" style="float: left; margin-left:10px"></div>
    <div style="float: left; font-weight:bold;margin-left:250px">房间号: </div>  <div th:text="${ratObj.roomCode}" style="float: left; margin-left:10px"></div>

    <br><p style="margin-top: 10px;color: crimson">目标: 努力使你的被动收入高于你的总支出，跳出老鼠圈，进入快车道<p/>
    <div style="font-weight: bold; font-size: 20px; color: deeppink">利润表</div>

    <div style="float: left">
        <div style="font-weight: bold;margin-top: 5px; font-size: 18px">收入</div>
        <div>----------------------------------------------</div>
        <div style="float: left; color: blue">项目</div><div style="margin-left: 250px; float: left; color: blue">现金流</div>

        <br><div style="float: left;margin-top: 11px">工资: </div><input id="salary" th:value="${ratObj.salary}" type="text" value="0" disabled style="margin-left:250px; margin-top: 10px; width: 50px"/>
        <div>利息/分红被动:</div>
        <div>
            <table border="1" id="stockShow">
                <tr>
                    <th>股票/基金</th>
                    <th>利息</th>
                </tr>
                <tr style="font-size: 10px; color: red" th:each="stock,stocks: ${ratObj.stockDtos}">
                    <td th:text="${stock.name}"></td>
                    <td th:text="${stock.interest}"></td>
                </tr>
            </table>
        </div>
        <div>房地产/企业被动:</div>
        <div>
            <table border="1">
                <tr>
                    <th>房产/企业</th>
                    <th>现金流</th>
                </tr>
                <tr style="font-size: 10px; color: red" th:each="estate, estates: ${ratObj.estateCompanyDtos}">
                    <td th:text="${estate.name}"></td>
                    <td th:text="${estate.monthCashFlow}"></td>
                </tr>
            </table>
        </div>

        <br><div style="font-weight: bold;margin-top: 5px; font-size: 18px">支出</div>
        <div>----------------------------------------------</div>
        <div>个人所得税: <input th:value="${ratObj.taxPay}" type="text" disabled style="margin-left: 200px; width: 50px" value="0"></div>
        <div>房屋按揭款: <input th:value="${ratObj.housePay}" type="text" disabled style="margin-left: 200px; width: 50px" value="0"></div>
        <div>教育按揭款: <input th:value="${ratObj.educationPay}" type="text" disabled style="margin-left: 200px; width: 50px" value="0"></div>
        <div>购车按揭款: <input th:value="${ratObj.carPay}" type="text" disabled style="margin-left: 200px; width: 50px" value="0"></div>
        <div>信用卡利息: <input th:value="${ratObj.creditCardPay}" type="text" disabled style="margin-left: 200px; width: 50px" value="0"></div>
        <div>额外债务支出: <input th:value="${ratObj.extraPay}" type="text" disabled style="margin-left: 185px; width: 50px" value="0"></div>
        <div>其他生活支出: <input th:value="${ratObj.otherPay}" type="text" disabled style="margin-left: 185px; width: 50px" value="0"></div>
        <div>孩子相关支出: <input th:value="${ratObj.childrenPay}" type="text" disabled style="margin-left: 185px; width: 50px" value="0"></div>
        <div>银行贷款信息: <input th:value="${ratObj.bankPay}" type="text" disabled style="margin-left: 185px; width: 50px" value="0"></div>
    </div>

    <div style="float: left; border: 1px solid; margin-left: 10px">
        <div style="font-weight: bold; font-size: 20px; margin-left: 50px; margin-top: 50px">被动收入(美元): <input id="passiveIncome" th:value="${ratObj.passiveIncome}" type="text" value="0" disabled style="font-weight: bold; font-size: 20px; width: 80px"></div>
        <div style="font-weight: bold; font-size: 20px; margin-left: 60px; margin-top: 60px">总收入(美元): <input id="totalIncome" th:value="${ratObj.totalIncome}" type="text" value="0" disabled style="font-weight: bold; font-size: 20px; width: 80px"></div>
        <div style="margin-left: 50px; margin-top: 20px">----------------------------------</div>
        <div style="font-weight: bold; font-size: 15px; margin-left: 50px; margin-top: 30px; color: blue">孩子个数: <input th:value="${ratObj.childCount}" type="text" value="0" disabled style="font-weight: bold; font-size: 15px; width: 50px; color: blue; margin-left: 30px"></div>
        <div style="font-weight: bold; font-size: 15px; margin-left: 50px; margin-top: 20px; color: blue">每个孩子支出(美元): <input th:value="${ratObj.payPerChild}" type="text" value="0" disabled style="font-weight: bold; font-size: 15px; width: 50px; color: blue; margin-left: 10px"></div>
        <div style="font-weight: bold; font-size: 20px; margin-left: 60px; margin-top: 30px">总支出(美元): <input th:value="${ratObj.totalPay}" type="text" value="0" disabled style="font-weight: bold; font-size: 20px; width: 80px"></div>
        <div style="font-weight: bold; font-size: 20px; margin-left: 50px; margin-top: 35px">月现金流(美元): <input id="totalCashFlow" th:value="${ratObj.monthCashFlow}" type="text" value="0" disabled style="font-weight: bold; font-size: 20px; width: 70px"></div>
    </div>

    <div style="float: left; margin-left: 30px; margin-top: 15px; border: 1px solid">
        <div style="font-weight: bold; font-size: 20px; color: deeppink">资产负债表</div>
        <div style="float: left">
            <div style="font-weight: bold; font-size: 18px">资产</div>
            <div>--------------------------------------</div>
            <div style="font-size: 15px">银行存款: <input th:value="${ratObj.bankStore}" type="text" disabled style="width: 35px;margin-left: 100px" value="0"></div>
            <br>
            <div id="stocks">
                <table border="1" id="stocksTable">
                    <tr>
                        <th>股票/基金</th>
                        <th>股数</th>
                        <th>价值(股)</th>
                    </tr>
                    <tr style="font-size: 10px; color: red" th:each="stock,stocks: ${ratObj.stockDtos}">
                        <td th:text="${stock.name}"></td>
                        <td th:text="${stock.totalCount}"></td>
                        <td th:text="${stock.perCost}"></td>
                        <td th:text="${stock.id}" style="visibility: hidden"></td>
                        <td th:text="${stock.ratTableId}" style="visibility: hidden;"></td>
                        <td th:text="${stock.roomCode}" style="visibility: hidden"></td>
                        <td th:text="${stock.interest}" style="visibility: hidden"></td>
                        <td><a href="#" onclick="sellStock(this)">出售</a></td>
                    </tr>
                </table>
            </div>
            <input type="button" value="点击新增" id="stockBtn" onclick="addStock()">
            <input onclick="requestStock()" type="button" value="点击提交" style="font-size: 15px; color: deeppink">
            <br>
            <br>
            <div style="float: left; font-size: 15px">房产/企业:</div>
            <div style="float: left; margin-left: 50px; font-size: 15px">首付:</div>
            <div style="float: left; margin-left: 50px; font-size: 15px">价值(套):</div>
            <br>
            <div id="estates" >
                <div th:each="estate, estates: ${ratObj.estateCompanyDtos}">
                    <input th:value="${estate.name}" style="color: red; width: 50px; height: 11px; font-size: 10px" value="0" disabled> <input th:value="${estate.downPayment}" type="text" value="20000" style="color: red; margin-left: 65px; font-size: 10px; width: 50px" disabled><input th:value="${estate.totalCost}" type="text" value="650000" style="color: red; margin-left: 40px; font-size: 10px; width: 50px" disabled>
                </div>
            </div>
            <input type="button" value="点击新增" id="estateBtn" onclick="addState()">
        </div>
        <br>
        <div style="float: left">
            <div style="font-weight: bold; font-size: 18px; margin-top: 10px">负债</div>
            <div>--------------------------------------</div>
            <div>房屋贷款: <input th:value="${ratObj.houseLoan}" type="text" disabled style="margin-left: 150px; width: 50px" value="0"></div>
            <div>教育贷款: <input th:value="${ratObj.educationLoan}" type="text" disabled style="margin-left: 150px; width: 50px" value="0"></div>
            <div>购车贷款: <input th:value="${ratObj.carLoan}" type="text" disabled style="margin-left: 150px; width: 50px" value="0"></div>
            <div>信用卡透支: <input th:value="${ratObj.creditCard}" type="text" disabled style="margin-left: 150px; width: 50px" value="0"></div>
            <div>额外负债: <input th:value="${ratObj.extraDebt}" type="text" disabled style="margin-left: 150px; width: 50px" value="0"></div>
            <div style="float: left; font-size: 15px">房产/企业:</div>
            <div style="float: left; margin-left: 150px; font-size: 15px">抵押/贷款:</div>
            <br>
            <div id="estateLoan">
                <div th:each="estate, estates: ${ratObj.estateCompanyDtos}">
                    <input th:value="${estate.name}" style="color: red; width: 50px; height: 11px; font-size: 10px" value="0" disabled> <input th:value="${estate.loan}" type="text" value="20000" style="color: red; margin-left: 150px; font-size: 10px; width: 50px" disabled>
                </div>
            </div>

            <br>
            <div style="font-size: 15px">银行贷款:</div>
            <div id="bank">
                <div style="font-size: 13px; color: red">当前借款: <input th:value="${ratObj.bankLoan}" type="text" value="20000" style="color: red; margin-left: 50px; font-size: 10px; width: 50px" disabled></div>
            </div>
            <select id="bankLoan">
                <option value="0">--请选择--</option>
                <option value="1000">1000</option>
                <option value="2000">2000</option>
                <option value="3000">3000</option>
                <option value="4000">4000</option>
                <option value="5000">5000</option>
                <option value="6000">6000</option>
            </select>
            <input type="button" id="bankBtn" value="点击借款" onclick="addBank()">
        </div>
    </div><br>
        <input th:value="${ratObj.roomCode}" id="roomCode" type="hidden">
        <input th:value="${ratObj.playerId}" id="playerId" type="hidden">
        <input th:value="${ratObj.id}" id="ratId" type="hidden">



</body>
    <script>
        function sellStock(obj) {
            var tds = $(obj).parent("td").parent("tr").find("td");
            var id = tds[3].innerHTML;
            var ratId = tds[4].innerHTML;
            var roomCode = tds[5].innerHTML;
            var interest = tds[6].innerHTML;

            var interestNum = parseInt(interest);

            var $passiveIncome = $("#passiveIncome");
            var $totalIncome = $("#totalIncome");
            var $totalCashFlow = $("#totalCashFlow");

            var passiveIncome =parseInt($passiveIncome.val());
            var totalIncome = parseInt($totalIncome.val())- interestNum;
            var totalCashFlow = parseInt($totalCashFlow.val()) - interestNum;

            var myForm = document.createElement("form");
            document.body.appendChild(myForm);

            var param1 = document.createElement("input");
            param1.setAttribute("name","stockId");
            param1.setAttribute("value",id);
            param1.setAttribute("type","hidden");

            var param2 = document.createElement("input");
            param2.setAttribute("name","ratId");
            param2.setAttribute("value",ratId);
            param2.setAttribute("type","hidden");

            var param3 = document.createElement("input");
            param3.setAttribute("name","roomCode");
            param3.setAttribute("value",roomCode);
            param3.setAttribute("type","hidden");

            var param4 = document.createElement("input");
            param4.setAttribute("name","passiveIncome");
            param4.setAttribute("value",passiveIncome);
            param4.setAttribute("type","hidden");

            var param5 = document.createElement("input");
            param5.setAttribute("name","totalIncome");
            param5.setAttribute("value",totalIncome);
            param5.setAttribute("type","hidden");

            var param6 = document.createElement("input");
            param6.setAttribute("name","totalCashFlow");
            param6.setAttribute("value",totalCashFlow);
            param6.setAttribute("type","hidden");

            myForm.appendChild(param1);
            myForm.appendChild(param2);
            myForm.appendChild(param3);
            myForm.appendChild(param4);
            myForm.appendChild(param5);
            myForm.appendChild(param6);

            myForm.method = "post";
            myForm.action = "/rat/sellStock";
            myForm.target = "";
            myForm.submit();
        }
    </script>

    <script>
        function requestStock() {
            var $stockName = $("#stockName");
            var stockName = $stockName.val();
            console.log(stockName);

            var $stockNum = $("#stockNum");
            var stockNum = $stockNum.val();

            var $stockValue = $("#stockValue");
            var stockValue = $stockValue.val();

            var $interest = $("#interest");
            var interest = $interest.val();

            if (stockName === undefined || stockName === '' || stockNum === undefined || stockNum === ''
                || stockValue === undefined || stockValue === '' || interest === undefined || interest === '') {
                alert("股票名称、股数、每股价值、利息不能为空");
                return;
            }
            //判断是否非负整数
            var regPos = /^\d+$/;
            if (!regPos.test(stockValue) || !regPos.test(stockNum) || !regPos.test(interest)) {
                alert("股数、每股价值、利息需为正整数");
                return;
            }


            var interestNum = parseInt(interest);

            var $passiveIncome = $("#passiveIncome");
            var $totalIncome = $("#totalIncome");
            var $totalCashFlow = $("#totalCashFlow");

            var passiveIncome = interestNum + parseInt($passiveIncome.val());
            var totalIncome = interestNum + parseInt($totalIncome.val());
            var totalCashFlow = interestNum + parseInt($totalCashFlow.val());

            var ratId = $("#ratId").val();
            var roomCode = $("#roomCode").val();
            var playerId = $("#playerId").val();

            var propertyBody = {"id":ratId, "roomCode": roomCode, "playerId":playerId,
                                "passiveIncome":passiveIncome, "totalIncome":totalIncome
                                , "monthCashFlow":totalCashFlow, "property":{"stockName":stockName
                                ,"stockNum":stockNum, "stockValue":stockValue, "interest":interest}};


            var stop = false;
            $.ajax({
                url: "/rat/addStock",
                type: "POST",
                async: false,
                contentType: "application/json",
                data: JSON.stringify(propertyBody),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    code = result.respCode;
                    msg = result.respMsg;

                    if (code !== "000000") {
                        alert("错误！" + code + "," + msg);
                        stop = true;
                    }

                    var stockObj = result.data;

                    console.log("返回的对象: " + stockObj);

                    var info = "<tr style=\"font-size: 10px; color: red\">" +
                        "<td>"+ stockObj.name +"</td>" +
                        "<td>"+ stockObj.totalCount +"</td>" +
                        "<td>"+ stockObj.perCost +"</td>" +
                        "<td style='visibility:hidden;'>"+ stockObj.id +"</td>" +
                        "<td style='visibility: hidden'>"+ stockObj.ratTableId +"</td>" +
                        "<td style='visibility:hidden;'>"+ stockObj.roomCode +"</td>" +
                        "<td style='visibility:hidden;'>"+ stockObj.interest +"</td>" +
                        "<td><a href=\"#\" onclick=\"sellStock(this)\">出售</a></td>" +
                        "</tr>";
                    $("#stocksTable").append(info);

                    var show = "<tr style=\"font-size: 10px; color: red\">" +
                        "<td>"+ stockObj.name +"</td>" +
                        "<td>"+ stockObj.interest +"</td>" +
                        "</tr>";
                    $("#stockShow").append(show);
                }

            });

            if (stop === true) {
                return;
            }

            $passiveIncome.attr('value', passiveIncome);
            $totalIncome.attr('value', totalIncome);
            $totalCashFlow.attr('value', totalCashFlow);

            $stockName.remove();
            $stockNum.remove();
            $stockValue.remove();
            $interest.remove();
        }

    </script>

    <script type="text/javascript">
        function addStock(){
            var input1 = document.createElement('input');
            input1.setAttribute('type', 'text');
            input1.setAttribute('name', 'stockName');
            input1.setAttribute('id', 'stockName');
            input1.setAttribute('placeHolder','输入股票名称');
            input1.setAttribute('style','color: red; font-size: 10px');

            var input2 = document.createElement('input');
            input2.setAttribute('type', 'text');
            input2.setAttribute('name', 'stockNum');
            input2.setAttribute('id', 'stockNum');
            input2.setAttribute('placeHolder','输入购买股数');
            input2.setAttribute('style','color: red; margin-left: 1px; font-size: 10px')

            var input3 = document.createElement('input');
            input3.setAttribute('type', 'text');
            input3.setAttribute('name', 'stockValue');
            input3.setAttribute('id', 'stockValue');
            input3.setAttribute('placeHolder','输入每股价值');
            input3.setAttribute('style','color: red; margin-left: 1px; font-size: 10px')

            var input4 = document.createElement('input');
            input4.setAttribute('type', 'text');
            input4.setAttribute('name', 'interest');
            input4.setAttribute('id', 'interest');
            input4.setAttribute('placeHolder', '请输入股票分红');
            input4.setAttribute('style','color: red; margin-left: 1px; font-size: 13px; width: 100px; font-weight: bold')

            var stocks = document.getElementById("stocks");
            stocks.insertBefore(input1,null);
            stocks.insertBefore(input2,null);
            stocks.insertBefore(input3,null);
            stocks.insertBefore(input4,null);

            var btn1 = document.getElementById("stockBtn");
            btn1.setAttribute('disabled',true);

            var btn2 = document.getElementById("estateBtn");
            btn2.setAttribute('disabled',true);
        }
    </script>

    <script type="text/javascript">
        function addState(){
            var input1 = document.createElement('input');
            input1.setAttribute('type', 'text');
            input1.setAttribute('name', 'estateName');
            input1.setAttribute('style','color: red; font-size: 10px; width: 50px');

            var input2 = document.createElement('input');
            input2.setAttribute('type', 'text');
            input2.setAttribute('name', 'downPayment');
            input2.setAttribute('style','color: red; margin-left: 65px; font-size: 10px; width: 50px')

            var input3 = document.createElement('input');
            input3.setAttribute('type', 'text');
            input3.setAttribute('name', 'totalValue');
            input3.setAttribute('style','color: red; margin-left: 40px; font-size: 10px; width: 50px')

            var input6 = document.createElement('input');
            input6.setAttribute('type', 'text');
            input6.setAttribute('name', 'monthCashFlow');
            input6.setAttribute('placeHolder', '请输入月现金流');
            input6.setAttribute('style','color: red; margin-left: 50px; font-size: 13px; width: 100px; font-weight: bold')

            var states = document.getElementById("estates");
            states.insertBefore(input1,null);
            states.insertBefore(input2,null);
            states.insertBefore(input3,null);
            states.insertBefore(input6,null);

            var input4 = document.createElement('input');
            input4.setAttribute('type', 'text');
            input4.setAttribute('value', '请输入贷款');
            input4.setAttribute('disabled', true);
            input4.setAttribute('style','color: red; font-size: 10px; width: 50px');

            var input5 = document.createElement('input');
            input5.setAttribute('type', 'text');
            input5.setAttribute('name', 'estateLoan');
            input5.setAttribute('style','color: red; margin-left: 150px; font-size: 10px; width: 50px')
            var stateLoan = document.getElementById("estateLoan");
            stateLoan.insertBefore(input4,null);
            stateLoan.insertBefore(input5,null);

            var btn1 = document.getElementById("estateBtn");
            btn1.setAttribute('disabled',true);

            var btn2 = document.getElementById("stockBtn");
            btn2.setAttribute('disabled',true);
        }
    </script>

    <script>
        function addBank() {

        }
    </script>


    <script>
        function addSum() {
            var salary = parseInt($("#salary").val()) + 1000;
            $("#salary").attr('value', salary);
        }
</script>
</html>