<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>老鼠表</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
    <!--玩家: <input type="text" value="飞机师1">-->

    <div style="float: left; font-weight:bold">职业: </div> <div style="float: left; margin-left:10px">飞机师</div>
    <div style="float: left; font-weight:bold;margin-left:500px">玩家: </div>  <div style="float: left; margin-left:10px">cjh</div>

    <br><p style="margin-top: 10px;color: crimson">目标: 努力使你的被动收入高于你的总支出，跳出老鼠圈，进入快车道<p/>
    <div style="font-weight: bold; font-size: 20px">利润表</div>
    <div>
        <div style="font-weight: bold;margin-top: 5px; font-size: 18px">收入</div>
        <div>----------------------------------------------------</div>
        <div style="float: left; color: blue">项目</div><div style="margin-left: 250px; float: left; color: blue">现金流</div>
        <br><div style="float: left;margin-top: 10px">工资: </div><input type="text" value="9500" disabled style="margin-left:250px; margin-top: 10px; width: 50px"/>
        <br><div style="margin-top: 10px">利息/分红: </div>
        <li>
            <tr>
                <th>xxx基金</th>

            </tr>
            <tr>
                <!--<th><input type="text" value="" disabled style="margin-left:200px; margin-top: 10px; width: 50px"/></th>-->
                <input type="text" value="" disabled style="margin-left:200px; margin-top: 10px; width: 50px"/>
                <!--<th style="margin-left: 200px">200</th>-->
            </tr>
        </li>
        <div style="margin-top: 10px">房地产/企业: </div>
        <li>
            <tr>
                <th>三房两厅</th>
            </tr>
            <tr>
                <input type="text" value="200" disabled style="margin-left:200px; margin-top: 10px; width: 50px"/>
            </tr>
        </li>
        <div style="font-weight: bold;margin-top: 5px; font-size: 18px">支出</div>
        <div>----------------------------------------------------</div>
        <div style="float: left;margin-top: 10px">税金: </div><input type="text" value="500" disabled style="margin-left:230px; margin-top: 10px; width: 50px"/>
        <br><div style="float: left;margin-top: 10px">住房抵押贷款: </div><input type="text" value="500" disabled style="margin-left:170px; margin-top: 10px; width: 50px"/>
        <br><div style="float: left;margin-top: 10px">教育贷款: </div><input type="text" value="500" disabled style="margin-left:200px; margin-top: 10px; width: 50px"/>
        <br><div style="float: left;margin-top: 10px">购车贷款: </div><input type="text" value="500" disabled style="margin-left:200px; margin-top: 10px; width: 50px"/>
        <br><div style="float: left;margin-top: 10px">信用卡支出: </div><input type="text" value="500" disabled style="margin-left:180px; margin-top: 10px; width: 50px"/>
        <br><div style="float: left;margin-top: 10px">额外支出: </div><input type="text" value="500" disabled style="margin-left:200px; margin-top: 10px; width: 50px"/>
        <br><div style="float: left;margin-top: 10px">其他支出: </div><input type="text" value="500" disabled style="margin-left:200px; margin-top: 10px; width: 50px"/>
        <br><div style="float: left;margin-top: 10px">小孩支出: </div><input type="text" value="500" disabled style="margin-left:200px; margin-top: 10px; width: 50px"/>
        <br><div style="float: left;margin-top: 10px">银行贷款支出: </div><input type="text" value="500" disabled style="margin-left:170px; margin-top: 10px; width: 50px"/>
    </div>
</body>
</html>